<div class="container">
    <div class="containerCentered"> 
        <div class="containerCenteredButton">
            <img src="save.gif"  style="height:300px;"/>
            <h1 style="text-align: center; font-size:x-large;color:black">Saving... </h1>
        </div> 
    </div>
</div>